<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:macro name="cubemars_ak" params="name prefix can_id kp kd vel_min vel_max effort_min effort_max pos_min:=-12.5 pos_max:=12.5 kp_min:=0 kp_max:=500 kd_min:=0 kd_max:=5">
    <joint name="${prefix}${name}">
      <param name="can_id">${can_id}</param>
      <param name="kp">${kp}</param>
      <param name="kd">${kd}</param>
      <param name="kp_min">${kp_min}</param>
      <param name="kp_max">${kp_max}</param>
      <param name="kd_min">${kd_min}</param>
      <param name="kd_max">${kd_max}</param>
      <command_interface name="position">
        <param name="min">${pos_min}</param>
        <param name="max">${pos_max}</param>
      </command_interface>
      <command_interface name="velocity">
        <param name="min">${vel_min}</param>
        <param name="max">${vel_max}</param>
      </command_interface>
      <command_interface name="effort">
        <param name="min">${effort_min}</param>
        <param name="max">${effort_max}</param>
      </command_interface>
      <state_interface name="position"/>
      <state_interface name="velocity"/>
      <state_interface name="effort"/>
      <state_interface name="temperature"/>
    </joint>
  </xacro:macro>

  <xacro:macro name="AK10-9" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" prefix="${prefix}" can_id="${can_id}" kp="${kp}" kd="${kd}" vel_min="-50.0" vel_max="50.0" effort_min="-65.0" effort_max="65.0" /> 
  </xacro:macro>

  <xacro:macro name="AK60-6" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" prefix="${prefix}" can_id="${can_id}" kp="${kp}" kd="${kd}" vel_min="-45.0" vel_max="45.0" effort_min="-15.0" effort_max="15.0" /> 
  </xacro:macro>

  <xacro:macro name="AK70-10" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" prefix="${prefix}" can_id="${can_id}" kp="${kp}" kd="${kd}" vel_min="-50.0" vel_max="50.0" effort_min="-25.0" effort_max="25.0" />
  </xacro:macro>

  <xacro:macro name="AK80-5" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" prefix="${prefix}" can_id="${can_id}" kp="${kp}" kd="${kd}" vel_min="-76.0" vel_max="76.0" effort_min="-12.0" effort_max="12.0" />
  </xacro:macro>

  <xacro:macro name="AK80-6" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" 
                       prefix="${prefix}" 
                       can_id="${can_id}" 
                       kp="${kp}" 
                       kd="${kd}" 
                       pos_min="-95.5" 
                       pos_max="95.5"
                       vel_min="-45.0" 
                       vel_max="45.0" 
                       effort_min="-18.0" 
                       effort_max="18.0" />
  </xacro:macro>

  <xacro:macro name="AK80-6_V2" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" 
                       prefix="${prefix}" 
                       can_id="${can_id}" 
                       kp="${kp}" 
                       kd="${kd}" 
                       pos_min="-12.5" 
                       pos_max="12.5"
                       vel_min="-76.0" 
                       vel_max="76.0" 
                       effort_min="-12.0" 
                       effort_max="12.0" />
  </xacro:macro>

  <xacro:macro name="AK80-9" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" prefix="${prefix}" can_id="${can_id}" kp="${kp}" kd="${kd}" vel_min="-50.0" vel_max="50.0" effort_min="-18.0" effort_max="18.0"/>
  </xacro:macro>

  <xacro:macro name="AK80-9_V2" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" 
                       prefix="${prefix}" 
                       can_id="${can_id}" 
                       kp="${kp}" 
                       kd="${kd}" 
                       pos_min="-12.5" 
                       pos_max="12.5"
                       vel_min="-25.64" 
                       vel_max="25.64" 
                       effort_min="-18.0" 
                       effort_max="18.0" />
  </xacro:macro>

  <xacro:macro name="AK80-64" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" prefix="${prefix}" can_id="${can_id}" kp="${kp}" kd="${kd}" vel_min="-8.0" vel_max="8.0" effort_min="-144.0" effort_max="144.0"/>
  </xacro:macro>

  <xacro:macro name="AK80-8" params="name prefix can_id kp kd">
    <xacro:cubemars_ak name="${name}" prefix="${prefix}" can_id="${can_id}" kp="${kp}" kd="${kd}" vel_min="-37.5" vel_max="37.5" effort_min="-32.0" effort_max="32.0"/>
  </xacro:macro>

</robot>
